/*

Usually default font-size of the browser is 16px. 
Setting font-size: 100% will make 1rem = 16px. 
But it will make calculations a little difficult. 
A better way is to set font-size: 62.5%. 
Because 62.5% of 16px is 10px. 
Which makes 1rem = 10px.
24px = 2.4rem;
*/

:root {
    font-size: 62.5%;
    body {
        font-size: 1.6rem;
        background-color: @body-background;
        font-family: @font-family ;
        color: black;        
    }
}
