h1 {
    font-family: @font-family ;
    font-size: 4.4rem;
    font-weight: 900 !important;
    color: black !important
}

h2, h3, h4, h5, h6 {
    font-weight: 700 !important

}

h3 {
    font-size: 2.2rem
}

h4 {
    font-size: 1.5rem
}