.page--leasing-calculator {
    padding: 50px 0;

    header {
        text-align: center;
        margin-bottom: 60px;

        h1 {
            color: #000000 !important
        }
    }

    .col-left {
        background-color: white;
        padding: 40px 50px;
        margin-bottom: 20px;

        .heading {
            margin-bottom: 30px
        }

        .filter-row {
            margin-bottom: 40px;

            &.no-margin {
                margin-bottom:0
            }
        }

        .ant-slider-mark-text{
            font-size: 1.3rem;
            margin-top: 4px
        }
    }

    .col-right {
        //background-color: #FFFFFF;

        .ant-card {
            margin-bottom: 16px;

            &-meta-title{
                font-size: 2rem;
                font-weight: 700
            }

            .other-info {
                margin-top: 60px
            }
            .monthly-amount{
                &-label {
                    font-weight: 700;
                    font-size: 1.2rem;
                }

                &-text{
                    font-size: 2.4rem
                }
            }

            .btn-row {
                margin-top: 30px
            }
        }
    }
}