/*
    Description:
    As we are using Ant Design Less to customise the theme.
    This file contain app color theme as well as overrides default Ant Design less variables.

    Note: Ant design variables overriding require react app to quit and start again
*/


// Importing ANT Less styling for override purpose
@import "../../node_modules/antd/lib/style/themes/default.less";

// Ant Design variables overide
@font-family                : 'Lato', "Helvetica Neue",Arial, sans-serif;
@body-background            : #e2e2e2;
@heading-color              : #000000;
@text-color                 : #000000;
@border-radius-base         : 3px;